.sidebar {
  position: fixed;
  background-color: #fff;
  
  bottom: -100%;
  left: 10px;
  width: calc(100% - 20px);
  right: 10px;

  max-height: 40vh;

  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: enter-sidebar-mobile;
  @media screen and (min-width: var(--screen-s)) {
    bottom: 24px;
    right: -30%;
    width: 30%;
    max-width: 100vw;
    animation-name: enter-sidebar;
  }

  display: flex;
  flex-direction: column;

  border-color: #000;
  border-style: solid;
  border-width: 4px;

  z-index: var(--zIndex-sidebar);

  box-sizing: border-box;

  overflow: auto;
  padding: 24px;
}

@keyframes enter-sidebar-mobile {
  to {
    bottom: 10px;
  }
}


@keyframes enter-sidebar {
  to {
    right: 24px;
  }
}

.title {
  color: var(--primary-color);
  font-size: 2rem;
}

.products {
  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
}

.product {
  width: calc(100% / 4);
  aspect-ratio: 1;
}
