.tabs {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
}

.tab-item {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;

  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);

  white-space: nowrap;

  &[aria-selected="true"] {
    background-color: var(--primary-color);
    color: #fff;
  }
}
