.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  border-radius: var(--border-radius);
  font-weight: 500;

  box-sizing: border-box;
  background-color: white;
  box-shadow: inset 0px 0px 22px -15px #000000;

  height: 100%;
  width: 100%;

  /* transition: box-shadow 0.1s ease-in; */

  border: 3px solid transparent;

  &:hover {
    border-color: var(--primary-color);
    /* box-shadow: 0px 0px 0px 3px var(--primary-color); */
  }

  & > span {
    color: var(--primary-color);
  }

  &:hover [data-field="image"] {
    transform: scale(1.2);
  }

  & [data-field="image"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;


    img {
      display: block;
      width: 100%;
    max-height: 50px;

    }
  }

  & [data-field="name"] {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
  }
}
