@import "./style/reset.css";
@import "nes.css/css/nes.css";

html,
body,
pre,
code,
kbd,
samp {
  font-family: fantasy;
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn {
    border-image-repeat: stretch;
  }
}

:root {
  --primary-color: #213547;
  --secondary-color: #f0f1df;

  --border-color: #f9f9f9;

  --background-color: #f4f4f4;

  --border-radius: 4px;

  /* Color Theme Swatches in Hex */
  --color-1: #04bf7b;
  --color-2: #027333;
  --color-3: #014017;
  --color-4: #f29f05;
  --color-5: #bf1717;

  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --zIndex-sidebar: 2;
  --zIndex-productList-category: 1;

  --sidebar-width: 30%;
  --layout-padding: 24px;

  /* breakpoints */
  --screen-xxs: 320px;
  --screen-xs: 480px;
  --screen-s: 600px;
  --screen-m: 801px;
  --screen-l: 1025px;
  --screen-xl: 1281px;
}


html {
  height: 100%;
}

body {
  font-family: fantasy;

  height: 100%;
  color-scheme: light dark;
  color: var(--primary-color);

  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --screen-xxs: 320px;
  --screen-xs: 480px;
  --screen-s: 600px;
  --screen-m: 801px;
  --screen-l: 1025px;
  --screen-xl: 1281px;
}

h1 {
  font-size: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
