@import "./style/reset.css";

:root {
  --primary-color: #213547;
  --secondary-color: #f0f1df;

  --border-color: #f9f9f9;

  --border-radius: 4px;

  /* Color Theme Swatches in Hex */
  --color-1: #04bf7b;
  --color-2: #027333;
  --color-3: #014017;
  --color-4: #f29f05;
  --color-5: #bf1717;

  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --zIndex-sidebar: 1;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 24px;
}

.background {
  background-color: #f4f4f4;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
