.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;

  height: 2rem;
}

.search-icon-button {
  background: transparent;
  outline: none;
  border: none;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
